:root {
    --azul-escuro: #1d3557;
    --azul-medio: #457b9d;
    --branco-gelo: #f1faee;
    --vermelho: #e63946;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--branco-gelo);
    margin: 0;
    display: flex; /* Coloca o menu e o conteúdo lado a lado */
}

nav {
    width: 260px;
    height: 100vh;
    background: var(--azul-escuro);
    color: white;
    padding: 20px;
    position: fixed;
    box-sizing: border-box;
}

.logo {
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #444;
    padding-bottom: 15px;
}

nav ul { list-style: none; padding: 0; }
nav li {
    padding: 15px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: 0.3s;
}
nav li:hover { background: var(--azul-medio); }

.btn-admin-nav {
    background: var(--vermelho);
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}

main {
    margin-left: 260px; /* Dá espaço para o menu lateral */
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 800px;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.btn-principal {
    background: var(--azul-escuro);
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.medico-item {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background: #f8f9fa;
    margin-top: 10px;
    border-radius: 6px;
    align-items: center;
}

/* No seu style.css */
.logo {
    background: linear-gradient(to right, #7fb3d5, #4a4e91);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}