:root {
    --azul-escuro: #1d3557;
    --azul-medio: #457b9d;
    --branco-gelo: #f1faee;
    --vermelho: #e63946;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--branco-gelo);
    margin: 0;
    display: flex; /* Alinha menu e conteúdo lado a lado */
}

/* MENU LATERAL */
nav {
    width: 260px;
    height: 100vh;
    background: var(--azul-escuro);
    color: white;
    padding: 20px;
    position: fixed;
}

nav h1 { font-size: 1.1rem; text-align: center; border-bottom: 1px solid #444; padding-bottom: 15px; }

nav ul { list-style: none; padding: 0; margin-top: 20px; }

nav li {
    padding: 15px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

nav li:hover { background: var(--azul-medio); }

.btn-admin-nav {
    background: var(--vermelho);
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

/* ÁREA DE CONTEÚDO */
main {
    margin-left: 260px; /* Dá espaço para o menu fixo */
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 800px;
    /* Aqui está o segredo: por padrão, as telas de admin e relatório ficam ocultas */
}

h2 { color: var(--azul-escuro); margin-top: 0; }

input, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}

.btn-principal {
    background: var(--azul-escuro);
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.medico-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #f8f9fa;
    margin-bottom: 5px;
    border-radius: 5px;
    align-items: center;
}

.btn-excluir { background: var(--vermelho); color: white; border: none; padding: 5px 10px; border-radius: 4px; cursor: pointer; }